:root {
  --primary: rgb(38, 38, 39);
  --secondary: #3246ca;
  --primary-dark: #a1ffce;
  --secondary-dark: rgb(226, 225, 225);
}

@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-roman.latin.var.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-italic.latin.var.woff2) format('woff2');
  font-named-instance: 'Italic';
}

body {
  font-family: 'Inter var', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02',
    'cv03' 1, 'cv04' 1;
  font-variation-settings: 'wght' 450;
  font-variant: common-ligatures contextual;
  letter-spacing: -0.02em;
}

b,
strong,
h3,
h4,
h5,
h6 {
  font-variation-settings: 'wght' 650;
}
h1 {
  font-variation-settings: 'wght' 850;
}
h2 {
  font-variation-settings: 'wght' 750;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 50px;
}

.grid-image {
  transition: all 0.3s;
  border-radius: 6px;
  box-shadow: var(--primary) 0px 3px 8px;
}

.grid-image:hover {
  box-shadow: var(--primary) 0px 3px 8px;
  transform: translateY(-0.2rem) scale(1.03);
}

details summary {
  cursor: pointer;
}

img.next-image {
  margin: 0;
  border-radius: 3px;
}

.prose a {
  text-decoration: none;
  color: var(--secondary);
}

img.profile-image {
  margin: 20px;
  border-radius: 30%;
  border: 1px solid var(--primary);
  box-shadow: var(--primary) 0px 3px 6px;
}

.post-item .post-item-more {
  color: var(--secondary);
}

.post-item .post-item-date {
  color: var(--secondary);
}

.meta {
  color: var(--secondary);
}

.meta-line .tag {
  color: var(--secondary);
}

.meta-line .tag:hover {
  color: var(--secondary);
}

.meta-line .meta-back {
  color: var(--secondary);
}

.blur-image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

article {
  padding-bottom: 2rem;
}

.footer {
  display: block;
  margin-top: 4rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animated {
  animation: fadeIn 1s ease-in;
}

.profile-grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: auto;
  gap: 50px;
}

img {
  border-radius: 3px;
  width: auto;
  min-height: 13rem;
}

.theme-changer {
  position: absolute;
  top: 50px;
  right: 50px;
}

.theme-select {
  border-radius: 3px;
  padding: 0.5rem;
  cursor: pointer;
}

.theme-select:focus {
  outline: none;
}

.theme-select-label {
  margin: 10px;
}

.md\:prose hr {
  border-color: var(--primary);
}

.meta .tag {
  padding: 0.1rem 0.3rem;
}

/* themes */

/* dark mode */
[data-theme='dark'] .md\:prose hr {
  border-color: var(--secondary-dark);
}

[data-theme='dark'] img.profile-image {
  margin: 0;
  border-radius: 30%;
  border: 1px solid var(--secondary-dark);
  box-shadow: var(--secondary-dark) 0px 3px 6px;
}

[data-theme='dark'] .nav-line .nav-link {
  color: var(--primary-dark);
}

[data-theme='dark'] .nav-line span.nav-link {
  color: var(--primary);
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    var(--primary-dark) 50%
  );
  background-position: 100%;
}

[data-theme='dark'] .nav-line .nav-link {
  padding: 0.5rem 1rem;
  color: var(--primary-dark);
  text-decoration: none;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    var(--primary-dark) 50%
  );
  background-size: 230%;
  transition: all 0.4s;
  border-radius: 3px;
}

[data-theme='dark'] .nav-line .nav-link:hover {
  background-position: 100%;
  color: var(--primary);
  transform: translateX(1rem);
  background-color: transparent;
}

[data-theme='dark'] h1,
.prose h2,
.prose h3,
.prose h5,
.prose strong {
  color: var(--primary-dark);
}

[data-theme='dark'] .prose {
  color: var(--secondary-dark);
}

[data-theme='dark'] .nav-line .nav-link {
  color: var(--primary-dark);
}

[data-theme='dark'] .prose a {
  color: var(--primary-dark);
}

[data-theme='dark'] .post-item .post-item-date {
  color: var(--primary-dark);
}

[data-theme='dark'] .meta {
  color: var(--primary-dark);
}

[data-theme='dark'] .meta .tag {
  background-color: var(--primary);
}

[data-theme='dark'] .meta-line .tag {
  color: var(--primary-dark);
  border: 1px dashed var(--primary-dark);
}

[data-theme='dark'] .meta-line .tag:hover {
  color: var(--primary-dark);
  background-color: black;
}

[data-theme='dark'] code {
  color: var(--primary-dark);
}

[data-theme='dark'] {
  background: var(--primary); /* fallback for old browsers */
  color: #a1ffce;
}

[data-theme='dark'] .grid-image {
  box-shadow: black 0px 3px 8px;
}

[data-theme='dark'] .prose-sm blockquote {
  color: #a1ffce;
}

/* light mode */

[data-theme='light'] .nav-line .nav-link {
  color: black;
}

[data-theme='light'] .nav-line span.nav-link {
  color: white;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    var(--primary) 50%
  );
  background-position: 100%;
}

[data-theme='light'] .nav-link {
  padding: 0.5rem 1rem;
  color: black;
  text-decoration: none;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    var(--primary) 50%
  );
  background-size: 230%;
  transition: all 0.4s;
  border-radius: 3px;
}

[data-theme='light'] .nav-link:hover {
  background-position: 100%;
  color: white;
  transform: translateX(1rem);
}

[data-theme='light'] {
  background: #a1ffce; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #faffd1,
    #a1ffce
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #faffd1,
    #a1ffce
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

[data-theme='light'] .prose strong {
  color: var(--primary);
}

[data-theme='light'] .prose h5 {
  color: var(--primary);
}

[data-theme='light'] .prose h2 {
  color: var(--primary);
}

[data-theme='light'] .post-item .post-item-title {
  color: var(--primary);
}

/* media queries */

@media screen and (max-width: 480px) {
  .theme-changer {
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 70px;
  }

  h1 {
    text-align: center;
    padding-bottom: 20px;
  }

  .nav-line {
    text-align: center;
    font-size: 1.3rem;
  }

  .post-item-more {
    display: grid;
  }

  article {
    padding-top: 2rem;
  }
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
